* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: url("imagenes/top1.PNG");
  width: 100%;
  height: 400px;
  display: flex;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "open Sans", sans-serif; /*fuente para toda la pagina*/
  background-color: black; /*fondo para toda la pantalla*/
  background-image: url(imagenes/fondo2.jpg);
  color: white; /*texto blanco por defecto en todo*/
  margin: 0; /* elimina el margen exterior que tienen los navegadores por defecto*/
  font-size: 18px;
  line-height: 1.7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

/* CONTENEDOR = CAJA CENTRAL QUE AGRUPA EL CONTENIDO*/
.container {
  max-width: 800px; /* ancho máximo: nunca pasará de 800px aunque la pantallasea más grande*/
  margin: auto; /* margin: auto -> centra el contenido horizontalmente */
  padding: 0 16px;
}

/* NAV = barra de navegacion  */
nav {
  background-color: #111; /* fondo gris muy oscuro*/
  position: sticky;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav a {
  color: red;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: white;
  border-bottom: 2px solid red;
}

/* TITULO */
header h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 8px black;
}

/* CONTENEDOR DE ARTISTAS */
.container p {
  margin: 10px 0;
}
.contenedor-artistas {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* TARJETAS */
.artistas {
  background: #1a1a1a;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
  transition: all 0.3s;
  text-align: center;
  flex: 1;
  min-width: 250px;
}

.artistas:hover {
  transform: scale(1.02);
}

.artistas h2 {
  margin-top: 0;
}
.artistas li {
  margin: 6px 0;
  font-size: 0.95rem;
}

/* IMÁGENES */
img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

.artistas a img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s;
}

.artistas a:not(.imagen-link) {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.artistas a:hover {
  background-color: darkred;
}

.bio {
  max-width: 600px;
  margin: 40px auto;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
  text-align: center;
}

.bio img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin: 20px 20px;
  justify-content: center;
  padding: auto;
}

.bio p {
  line-height: 2;
}

.bio ul {
  list-style: none;
  padding: 0;
}

.bio li {
  margin: 15px 0;
}

.bio a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background: red;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.bio a:hover {
  background: darkred;
}

/* modificacion para que quede en horizontal */
nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

/* quitar subrayado a ver en youtube y ver biografia */

a {
  text-decoration: none;
}
footer {
  background-color: #111;
  padding: 10px 10px;
  margin-top: 20px;
}
table {
  background-color: #111;
  color: red;
  width: 100%;
}
td {
  padding: 5px;
}
